{% extends 'layout/default.html.twig' %}

{#{% block title %}Blog{% endblock %}#}

{% block content %}
    <h1>Games</h1>

    {% for game in games %}

        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="{{ path('result', {'id': game.id}) }}">Game № {{ game.id }}</a>
            </div>
        </div>

    {% endfor %}

    {% include 'share/pager.html.twig' with {
    'pager': pager,
    'main_route': 'game',
    'route': 'game_page',
    } %}

{% endblock %}
