<?php

return [
    'auth' => [
        'users' => [
            'admin' => 'password',
        ],
    ],
    'pdo' => [
        'dsn' => 'mysql:host=localhost;dbname=eco-system',
        'username' => 'root',
        'password' => '',
    ],
];
